#search-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#search-container>form{
    margin: 0;
}
#search-container>ul{
    align-self: baseline;
}
button{
    width: max-content;
}

li{
    list-style: none;
    border-bottom: 1px dashed black;
    width: max-content;
}